.signin-page{
  height:100vh;
  width: 208vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#16697a;
}

.signin-container{
  width:380px;
  padding:40px;
  border-radius:20px;
  background:linear-gradient(180deg,#1f8aa6,#0f6b82);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  text-align:center;
}

.signin-logo-box img{
  width:80px;
  margin-bottom:25px;
  border-radius:50%;
  background:white;
  padding:10px;
}

.signin-form-ss{
  display:flex;
  flex-direction:column;
  text-align:left;
}

.signin-form-ss label{
  font-size:12px;
  color:white;
  margin-bottom:5px;
}

.signin-form-ss input{
  padding:8px;
  width: 95%;
  border-radius:4px;
  border:none;
  margin-bottom:12px;
}

.forgot{
  font-size:11px;
  color:#bfe9ff;
  text-align:right;
  margin-bottom:15px;
}

.signin-btn{
  padding:8px;
  border:none;
  border-radius:5px;
  background:#e6e6e6;
  cursor:pointer;
  color: black;
}

.divider{
  display:flex;
  align-items:center;
  margin:30px 0;
}

.divider span{
  flex:1;
  height:1px;
  background:white;
}

.social-login{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:20px;
}

.social-box{
  width:22px;
  height:22px;
  background:#d9d9d9;
  border-radius:4px;
}

.signup-link{
  font-size:12px;
  color:white;
}

.signup-link a{
  color:#d4f1ff;
  text-decoration:none;
}